@model HR.Models.db.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpSurname" class="control-label"></label>
                <input asp-for="EmpSurname" class="form-control" />
                <span asp-validation-for="EmpSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpIdno" class="control-label"></label>
                <input asp-for="EmpIdno" class="form-control" />
                <span asp-validation-for="EmpIdno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpGenderId" class="control-label"></label>
                <input asp-for="EmpGenderId" class="form-control" />
                <span asp-validation-for="EmpGenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpMarrySatatusId" class="control-label"></label>
                <input asp-for="EmpMarrySatatusId" class="form-control" />
                <span asp-validation-for="EmpMarrySatatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpTel" class="control-label"></label>
                <input asp-for="EmpTel" class="form-control" />
                <span asp-validation-for="EmpTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpEmail" class="control-label"></label>
                <input asp-for="EmpEmail" class="form-control" />
                <span asp-validation-for="EmpEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpImage" class="control-label"></label>
                <input asp-for="EmpImage" class="form-control" />
                <span asp-validation-for="EmpImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpIdcardAddress" class="control-label"></label>
                <input asp-for="EmpIdcardAddress" class="form-control" />
                <span asp-validation-for="EmpIdcardAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpCurrentAddress" class="control-label"></label>
                <input asp-for="EmpCurrentAddress" class="form-control" />
                <span asp-validation-for="EmpCurrentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubDistrict" class="control-label"></label>
                <input asp-for="SubDistrict" class="form-control" />
                <span asp-validation-for="SubDistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpStart" class="control-label"></label>
                <input asp-for="EmpStart" class="form-control" />
                <span asp-validation-for="EmpStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpEnd" class="control-label"></label>
                <input asp-for="EmpEnd" class="form-control" />
                <span asp-validation-for="EmpEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpJobName" class="control-label"></label>
                <input asp-for="EmpJobName" class="form-control" />
                <span asp-validation-for="EmpJobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPositionId" class="control-label"></label>
                <input asp-for="EmpPositionId" class="form-control" />
                <span asp-validation-for="EmpPositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpDepartmentId" class="control-label"></label>
                <input asp-for="EmpDepartmentId" class="form-control" />
                <span asp-validation-for="EmpDepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingHrsId" class="control-label"></label>
                <input asp-for="WorkingHrsId" class="form-control" />
                <span asp-validation-for="WorkingHrsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label"></label>
                <input asp-for="BaseSalary" class="form-control" />
                <span asp-validation-for="BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillSalary" class="control-label"></label>
                <input asp-for="SkillSalary" class="form-control" />
                <span asp-validation-for="SkillSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistBy" class="control-label"></label>
                <input asp-for="RegistBy" class="form-control" />
                <span asp-validation-for="RegistBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
