@model HR.Models.Viewmodels.RegistEmp
@{
    ViewData["Title"] = "Delete";

    if (TempData["message"] != null)
    { 
        TempData.Remove("message");
    }

    var nulls = '-';
    Layout = "_Layout1";
}
<div class="d-flex justify-content-between">
    <div>
        <h1>ลบข้อมูล</h1> 
    </div>
    <form asp-action="Delete">
            <input type="hidden" asp-for="EmpId" />
            <button type="submit" value="Delete" class="btn btn-danger icons my-1"><ion-icon name="create-outline"></ion-icon> ลบ</button>
            <a asp-action="Index" class="btn btn-primary icons my-1"><ion-icon name="return-down-back-outline"></ion-icon> กลับ</a>
    </form>
</div>
     <nav class="mb-5" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller ="Home" asp-action="Index">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a asp-controller ="Home" asp-action="Hr">แอดมิน</a></li>  
        <li class="breadcrumb-item"><a asp-controller ="Employees" asp-action="Index">รายชื่อ</a></li> 
        <li class="breadcrumb-item active" aria-current="page">ลบ</li>
      </ol>
    </nav> 

<hr />
 