@model HR.Models.Viewmodels.RegistEmp
@{
    ViewData["Title"] = "Details";

    if (TempData["message"] != null)
    { 
        TempData.Remove("message");
    }
   
    var nulls = '-';

    
    Layout = "_Layout1";
}

    <div class="d-flex justify-content-between">
        <h1>ข้อมูลพนักงาน</h1>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.EmpId" class="btn btn-warning icons my-1"><ion-icon name="create-outline"></ion-icon> แก้ไข</a>
           <!--- <a class="btn btn-success icons my-1" onclick="window.print()"><ion-icon name="print-outline"></ion-icon> ปริ้นท์</a>--> 
             <a asp-action="Index" class="btn btn-primary icons my-1"><ion-icon name="return-down-back-outline"></ion-icon> กลับ</a>
        </div>
    </div>
    
 <nav class="mb-5" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller ="Home" asp-action="Index">หน้าแรก</a></li>
    <li class="breadcrumb-item"><a asp-controller ="Home" asp-action="Hr">แอดมิน</a></li>  
    <li class="breadcrumb-item"><a asp-controller ="Employees" asp-action="Index">รายชื่อ</a></li> 
    <li class="breadcrumb-item active" aria-current="page">ข้อมูล</li>
  </ol>
</nav>
 
    <hr />

        