@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Admin</h1> 
</div>


     <nav class="mb-5" aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a asp-controller ="Home" asp-action="Index">หน้าแรก</a></li> 
        <li class="breadcrumb-item active" aria-current="page">แอดมิน</li>
      </ol>
    </nav>  
        <div class="mb-5">
            <div id="employeeInfo" class="mb-5">
                    <div id="toggle-card" class="d-flex w-100 justify-content-between">
                       <p class="form-label h4">Personal Information</p>
                       <button id="show-card" class="btn btn-bglight h4 visually-hidden">&#x25BC;</button>
                       <button id ="hide-card" class="btn btn-bglight h4">&#x25B2;</button> 
                   </div> 
                   <div class = "hr-line mb-3"></div>
            </div>
            
            <div id="toggleCard" class="">
                <div id="employee" class="row toggleCardRow">
                    <div class="col-xl-4 mb-2"> 
                      <div class="card card-body mb-3 d-flex align-items-stretch shadow-sm">  
                            <h5 class="card-title">Employee List</h5>
                          <!--  <p class="card-text" >look all emplyee list</p> -->
                            <a id ="card-link" asp-area="" asp-controller="Employees" asp-action="Index"> </a>  
                          </div>
                      </div> 
                    
                    <div class="col-xl-4 mb-2">                
                        <div class="card card-body mb-3 d-flex align-items-stretch shadow-sm">  
                            <h5 class="card-title">Add Employee Infomation</h5> 
                           <a id ="card-link" asp-area="" asp-controller="Employees" asp-action="Create"> </a>  
                         </div>
                     </div>   

                     
                    </div>
             </div>
        </div>

      <div class="mb-5">
         <div id="attendance_info" class="mb-5">
               <div id="toggle-card" class="d-flex w-100 justify-content-between">
                       <p class="form-label h4">Attendance</p>
                       <button id="show-card"class="btn btn-bglight h4">&#x25BC;</button>
                       <button id ="hide-card" class="btn btn-bglight h4 visually-hidden">&#x25B2;</button> 
               </div> 
               <div class = "hr-line mb-3"></div>
        </div>
       
       <div id="toggleCard" class="closeCard">
           <div id="attendance" class="row toggleCardRow closeCard"> 

                <div class="col-xl-4 mb-2">
                    <div class="card card-body mb-3 d-flex align-items-stretch shadow-sm h-100">  
                        <h5 class="card-title">Check Attendence</h5>
                        <p class="card-text">Retrive all attendance data from database. You cansdfdfsdf filter with many par to get the data you want</p>
                        <a id ="card-link" asp-area="" asp-controller="Home" asp-action="AddEmployee"> </a>  
                    </div> 
                </div>

               <div class="col-xl-4 mb-2">
                    <div class="card card-body mb-3 d-flex align-items-stretch shadow-sm h-100">  
                        <h5 class="card-title">Workinh Hour</h5>
                        <p class="card-text">Check all working attendance day</p> 
                        <a id ="card-link" asp-area="" asp-controller="Home" asp-action="AddEmployee"> </a>      
                    </div> 
                </div>  

                <div class="col-xl-4 mb-2">
                    <div class="card card-body mb-3 d-flex align-items-stretch shadow-sm h-100">  
                        <h5 class="card-title">Leave</h5>
                        <p class="card-text">Check Leave day for calculating the employee working day</p> 
                        <a id ="card-link" asp-area="" asp-controller="Home" asp-action="AddEmployee"> </a>      
                    </div> 
                </div>  
            </div> 
      </div> 
    </div>

      <div class="mb-5">
         <div id="salary_info" class="mb-5">
               <div id="toggle-card" class="d-flex w-100 justify-content-between">
                       <p class="form-label h4">Salary</p>
                       <button id="show-card" class="btn btn-bglight h4">&#x25BC;</button>
                       <button id ="hide-card" class="btn btn-bglight h4 visually-hidden">&#x25B2;</button> 
               </div> 
               <div class = "hr-line mb-3"></div>
        </div>
        
        
       <div id="toggleCard" class="closeCard"> 
           <div id="salary" class="row toggleCardRow closeCard"> 
                <div class="col-xl-4 mb-2">
                    <div class="card card-body mb-3 d-flex align-items-stretch shadow-sm h-100">    
                        <h5 class="card-title">Salary Report</h5>
                        <p class="card-text">Calculate all employees' salary following the steetings rule and can export report as xlxs file</p> 
                        <a id ="card-link" asp-area="" asp-controller="Home" asp-action="AddEmployee"> </a>  
                    </div> 
                 </div>  

               <div class="col-xl-4 mb-2">
                    <div class="card card-body mb-3 d-flex align-items-stretch shadow-sm h-100">  
                        <h5 class="card-title">Setting</h5>
                        <p class="card-text">Set all values that related to the salary calculation</p>
                     <a id ="card-link" asp-area="" asp-controller="Home" asp-action="AddEmployee"> </a>  
                    </div>     
              </div>  
           </div>
        </div>
    </div> 
  
  
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>